DATA_FOLDER=/opt/vaultwarden/data
WEB_VAULT_FOLDER=/opt/vaultwarden/web-vault
WEB_VAULT_ENABLED=true
ROCKET_ADDRESS=127.0.0.1
ROCKET_PORT=8000
SIGNUPS_ALLOWED=true
INVITATIONS_ALLOWED=false
DOMAIN=https://hardpass.local
ADMIN_TOKEN=REPLACE_ME_GENERATE_VIA_openssl_rand_base64_48
LOG_FILE=/opt/vaultwarden/vaultwarden.log
